Введём данные, начнём с тренировочной выборки:

In [1]:
%%time
import pandas as pd 
from sklearn.preprocessing import StandardScaler

syspathTraining = "D:/Python_all/ml_test/facebook-comment-volume-prediction-master/dataset/Training/"
fileTraining = ['Features_Variant_1.csv', 
                'Features_Variant_2.csv', 
                'Features_Variant_3.csv', 
                'Features_Variant_4.csv', 
                'Features_Variant_5.csv']
            
scaner_train = StandardScaler()
scaner_test = StandardScaler()

Wall time: 1.22 s

In [2]:
%%time
import numpy as np
from sklearn.preprocessing import MinMaxScaler

"""
    Сначала считываем, раскидываем по переменным,
                После нормируем 
"""
# minmaxScaler = MinMaxScaler()
%time fullTraining = pd.concat(pd.read_csv(syspathTraining + file, index_col=False, header=None) for file in fileTraining)
# fullTraining = pd.DataFrame(minmaxScaler.fit_transform(fullTraining))
# fullTraining = pd.DataFrame(scaner_train.fit_transform(fullTraining))

X_train_all = fullTraining.iloc[:,:-1]
y_train_all = fullTraining.iloc[:,-1:]

# X_train_all = pd.DataFrame(minmaxScaler.fit_transform(X_train_all))

X_train_list = []
y_train_list = []

"""
    Теперь заполним списки каждым из 5 вариантов 
      + ещё 1, он же общий из всех предыдущих
"""

for i in range(5):
    X_train_list.append(pd.read_csv(syspathTraining + fileTraining[i], index_col=False, header=None).iloc[:,:-1])
    # X_train_list.append(pd.DataFrame(minmaxScaler.fit_transform(pd.read_csv(syspathTraining + fileTraining[i], index_col=False, header=None).iloc[:,:-1])))
    y_train_list.append(pd.read_csv(syspathTraining + fileTraining[i], index_col=False, header=None).iloc[:,-1:])

#     scaner_train.fit(X_train_list[i])
#     X_train_list[i] = pd.DataFrame(scaner_train.transform(X_train_list[i]))

# scaner_train.fit(X_train_all)
# X_train_all = pd.DataFrame(scaner_train.transform(X_train_all))

X_train_list.append(X_train_all)
y_train_list.append(y_train_all)

Wall time: 3.14 s
Wall time: 10 s

In [9]:
%%time
import matplotlib.pyplot as plt
# import seaborn as sns

fullTraining.hist(figsize=(20,20))
plt.show()

print(end='\n\n\n')
X_train_all.isnull().sum()
df.isnull().any().any()
X_train_all.iloc[:,:].describe()
print(end='\n\n\n')


# def correlation_heatmap(df):
#     _,ax=plt.subplots(figsize=(20,20))
#     colormap=sns.diverging_palette(220,10,as_cmap=True)
#     sns.heatmap(df.corr(),annot=True,cmap=colormap)
# correlation_heatmap(df)

ModuleNotFoundError: No module named 'seaborn'

Теперь для тестов:

In [4]:
%%time
sysPathTesting = r"./dataset/Testing/TestSet/"
fileTesting = ['Test_Case_1.csv', 'Test_Case_2.csv', 'Test_Case_3.csv',
              'Test_Case_4.csv', 'Test_Case_5.csv',  
              'Test_Case_6.csv', 'Test_Case_7.csv', 'Test_Case_8.csv', 
              'Test_Case_9.csv', 'Test_Case_10.csv']

test = pd.concat(pd.read_csv(sysPathTesting + f, index_col=False, header=None) for f in fileTesting)
# test = pd.read_csv(sysPathTesting + fileTesting[9], index_col=False, header=None)

# test = pd.DataFrame(minmaxScaler.fit_transform(test))
# test = pd.DataFrame(scaner_test.fit_transform(test))

X_test = test.iloc[:,:-1]
# X_test = pd.DataFrame(minmaxScaler.fit_transform(X_test))
y_test = test.iloc[:,-1:]

Wall time: 173 ms

In [5]:
print(X_train_all.mean(axis=0), X_train_all.std(axis=0), y_train_all.mean(axis=0), y_train_all.std(axis=0), sep='\n\n')

0     1.313640e+06
1     4.673204e+03
2     4.476571e+04
3     2.424719e+01
4     6.474844e-01
5     4.776119e+02
6     5.586219e+01
7     3.535072e+01
8     6.797049e+01
9     9.370402e-02
10    3.606453e+02
11    2.183232e+01
12    7.191323e+00
13    4.065582e+01
14    4.782578e-03
15    3.560969e+02
16    1.997520e+01
17    4.891739e+00
18    4.038120e+01
19    6.378695e-01
20    4.321076e+02
21    5.271284e+01
22    3.371386e+01
23    6.339995e+01
24   -3.036919e+02
25    3.550708e+02
26    1.857127e+00
27   -2.154098e+00
28    5.657576e+01
29    5.586219e+01
30    2.183232e+01
31    1.997520e+01
32    5.271284e+01
33    1.857127e+00
34    3.545525e+01
35    1.636533e+02
36    1.173018e+02
37    0.000000e+00
38    2.377686e+01
39    1.223729e-01
40    1.432683e-01
41    1.496550e-01
42    1.573042e-01
43    1.442238e-01
44    1.462361e-01
45    1.369396e-01
46    1.400550e-01
47    1.338707e-01
48    1.377343e-01
49    1.466906e-01
50    1.547594e-01
51    1.446485e-01
52    1.422415e-01
dtype: float64

0     6.803585e+06
1     2.057582e+04
2     1.109773e+05
3     1.994139e+01
4     1.310970e+01
5     5.315683e+02
6     8.649600e+01
7     6.859606e+01
8     8.257822e+01
9     4.429349e+00
10    4.270604e+02
11    3.587749e+01
12    1.972136e+01
13    5.212118e+01
14    7.671876e-01
15    4.169746e+02
16    3.129572e+01
17    1.315556e+01
18    5.227791e+01
19    1.284075e+01
20    4.885004e+02
21    8.098685e+01
22    6.479563e+01
23    7.699930e+01
24    3.687727e+02
25    4.257278e+02
26    1.198659e+01
27    1.176823e+01
28    7.441190e+01
29    1.375526e+02
30    7.521111e+01
31    7.309615e+01
32    1.284808e+02
33    9.424241e+01
34    2.097407e+01
35    3.757820e+02
36    9.513046e+02
37    0.000000e+00
38    1.858326e+00
39    3.277163e-01
40    3.503466e-01
41    3.567333e-01
42    3.640876e-01
43    3.513168e-01
44    3.533430e-01
45    3.437839e-01
46    3.470444e-01
47    3.405136e-01
48    3.446211e-01
49    3.537975e-01
50    3.616755e-01
51    3.517464e-01
52    3.492979e-01
dtype: float64

53    7.163027
dtype: float64

53    34.462254
dtype: float64

Теперь перейдём к программированию непосредственно линейной регрессии

In [6]:
%%time
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

regressor = LinearRegression()
for i in range(6):
    regressor = LinearRegression().fit(X_train_list[i], y_train_list[i])
    
    rms = sqrt(mean_squared_error(y_test, regressor.predict(X_test)))
    if i == 5:
        print("Variant overall: ", rms)
    else:
        print("Variant {0}: ".format(i + 1), rms)

Variant 1:  95.904691429859
Variant 2:  95.88584774691435
Variant 3:  102.76541950202672
Variant 4:  95.9940452785031
Variant 5:  97.3293970658138
Variant overall:  94.97127455356156
Wall time: 4.5 s

In [7]:
print(regressor.score(X_train_all, y_train_all))
print(regressor.score(X_test, y_test),end="\n\n")

print(regressor.intercept_)
print(regressor.coef_,end="\n\n")

# print(X_train_list[5])
# print(y_train_list[5])
X_train_all

0.33619451397481437
0.17733143488887926

[-4.30327665]
[[-1.87006037e-09 -4.79274633e-06 -1.04702656e-05 -1.08877843e-03
  -1.16630206e-01  3.12521802e-03  8.79348683e-01 -2.77302412e-02
  -3.40582101e-02  1.53970184e-01  1.80889297e-04  1.58645480e-01
   6.69948320e-02 -9.10275711e-02  7.15115005e-02  8.70409392e-04
   1.04651723e-01 -2.26962881e-02 -3.90167797e-02  3.49521637e-02
  -1.93340356e-03 -1.00491132e+00  4.19220158e-02  6.32143944e-02
   2.05307426e-03 -1.77096833e-03  5.39937572e-02 -4.06565192e-02
   9.43627817e-02 -2.41855872e-02  1.32632344e-01  5.47858964e-02
   8.24950878e-03  7.78464476e-02 -1.85027025e-01 -4.28604025e-06
   2.35223113e-03  6.10622664e-16  4.56404970e-01 -3.58558721e-01
  -3.59190641e-01  4.87929268e-01  8.39200083e-01 -1.91705436e-02
  -1.07457617e-01 -4.82751829e-01  2.41937979e-01  5.07181096e-01
   3.35780960e-01  4.87129701e-01 -9.72131472e-01 -3.94446361e-01
  -2.05451904e-01]]

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,0,0,1
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,1,0,0,0,0,0,0,0,1
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,1,0,0,1,0,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199025,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199026,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199027,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199028,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,0,1,0,0
199029,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
y_pred = pd.DataFrame(regressor.predict(X_test))

check = pd.DataFrame({'Actual': y_test.values.flatten(), 'Predicted': y_pred.values.flatten()})
check

# y_pred = pd.DataFrame(regressor.predict(X_train_all))

# check = pd.DataFrame({'Actual': y_train_all.values.flatten(), 'Predicted': y_pred.values.flatten()})
# check

     Actual  Predicted
0        35  12.207413
1         2   7.920135
2         0   0.065510
3         0  -0.507592
4         0   1.552561
..      ...        ...
995       0  -2.977277
996       1   7.545778
997       0  33.969555
998       0  11.173107
999       5  10.078580

[1000 rows x 2 columns]

In [9]:
# %%time
# import matplotlib.pyplot as plt
# plt.figure(figsize=(50, 50))
# plt.scatter(
#     y_test.values.flatten(),
#     y_pred.values.flatten(),
#     c='green'
# )
# plt.xlabel("XXX")
# plt.ylabel("YYY")
# plt.show()

In [10]:
y_train_all

         53
0         0
1         0
2         0
3         0
4         0
...     ...
199025  203
199026   42
199027   51
199028   17
199029   21

[602813 rows x 1 columns]

In [11]:
X_train_all

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,0,0,1
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,1,0,0,0,0,0,0,0,1
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,1,0,0,1,0,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199025,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199026,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199027,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,1,0,0,0
199028,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,0,1,0,0
199029,7170111,70,497000,9,0.0,2164.0,466.975207,244.0,497.966169,0.0,...,0,0,0,0,0,0,0,0,1,0